/* Light Mode Styles */

.bg-light {
    background-color: #fff;
  }
  
  .heading-light {
    color: #222;
  }
  
  .para-light {
    color: #222;
  }
  
  .btn-light {
    background-color: #222;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  

  .card-light {
    background-color: #fff;
    color: #222;

  }
  /* Dark Mode Styles */
  
  .bg-dark {
    background-color: #222;
  }
  
  .heading-dark {
    color: #fff;
  }
  
  .para-dark {
    color: #fff;
  }
  
  .btn-dark {
    background-color: #fff;
    color: #222;
  
  }

  .card-dark {
    background-color: #222;
    color: #fff;

  }
